<robot  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="gundam_pr2_roman">

  <link name="world_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
       <box size="0 0 0"/>
      </geometry>
        <material name="white">
        <color rgba="1 1 1 1" />
        </material>
    </visual>
    <collision group="default">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
         <box size="0 0 0"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_joint" type="fixed">
      <origin xyz="0 0 0"  rpy="0 0 1.57" />
      <parent link="world_link" />
      <child link="roman/base_footprint" />
   </joint>
  
  <joint name="world_joint_pr2" type="fixed">
      <origin xyz="0 2.25 0"  rpy="0 0 0" />
      <parent link="world_link" />
      <child link="pr2/base_footprint" />
   </joint>

  













<!-- PR2 -->


<!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find pr2_description)/urdf/common.xacro" />
  <!-- PR2 Arm -->
  <xacro:include filename="$(find pr2_description)/urdf/shoulder_v0/shoulder.urdf.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/upper_arm_v0/upper_arm.urdf.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/forearm_v0/forearm.urdf.xacro" />
  <!-- PR2 gripper -->
  <xacro:include filename="$(find pr2_description)/urdf/gripper_v0/gripper.urdf.xacro" />
  <!-- PR2 head -->
  <xacro:include filename="$(find pr2_description)/urdf/head_v0/head.urdf.xacro" />
  <!-- PR2 tilting laser mount -->
  <xacro:include filename="$(find pr2_description)/urdf/tilting_laser_v0/tilting_laser.urdf.xacro" />
  <!-- PR2 torso -->
  <xacro:include filename="$(find pr2_description)/urdf/torso_v0/torso.urdf.xacro" />
  <!-- PR2 base -->
  <xacro:include filename="$(find pr2_description)/urdf/base_v0/base.urdf.xacro" />
  <!-- Head sensors -->
  <xacro:include filename="$(find pr2_description)/urdf/sensors/head_sensor_package.urdf.xacro" />
  <!-- Camera sensors -->
  <xacro:include filename="$(find pr2_description)/urdf/sensors/wge100_camera.urdf.xacro" />
  <!-- Texture projector -->
  <xacro:include filename="$(find pr2_description)/urdf/sensors/projector_wg6802418.urdf.xacro" />
  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find pr2_description)/gazebo/gazebo.urdf.xacro" />
  <!-- materials for visualization -->
  <xacro:include filename="$(find pr2_description)/urdf/materials.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual PR2 -->

  <!-- The first use of a macro.  This one was defined in base.urdf.xacro above.
       A macro like this will expand to a set of link and joint definitions, and to additional
       Gazebo-related extensions (sensor plugins, etc).  The macro takes an argument, name,
       that equals "base", and uses it to generate names for its component links and joints
       (e.g., base_link).  The included origin block is also an argument to the macro.  By convention,
       the origin block defines where the component is w.r.t its parent (in this case the parent
       is the world frame). For more, see http://www.ros.org/wiki/xacro -->
  
  <xacro:pr2_base_v0 name="base" prefix="pr2/"/>
  
  <xacro:pr2_torso_v0 name="torso_lift" parent="base_link" prefix="pr2/" >
    <origin xyz="-0.05 0 0.739675" rpy="0 0 0" />
  </xacro:pr2_torso_v0>

  <xacro:pr2_head_v0 name="head" parent="torso_lift_link" prefix="pr2/">
    <origin xyz="-0.01707 0.0 0.38145"
            rpy="0.0 0.0 0.0" />
  </xacro:pr2_head_v0>


  <xacro:pr2_shoulder_v0 side="r" reflect="-1" parent="torso_lift_link" prefix="pr2/">
    <origin xyz="0.0 -0.188 0.0" rpy="0 0 0" />
  </xacro:pr2_shoulder_v0>

  <xacro:pr2_upper_arm_v0 side="r" reflect="-1" parent="r_upper_arm_roll_link" prefix="pr2/" />

  <xacro:pr2_forearm_v0 side="r" reflect="-1" parent="r_forearm_roll_link" prefix="pr2/">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pr2_forearm_v0>

  <xacro:pr2_gripper_v0 reflect="-1.0" side="r" parent="r_wrist_roll_link" prefix="pr2/"
               screw_reduction="${4.0/1000.0}"
               gear_ratio="${(729.0/25.0)*(22.0/16.0)}"
               theta0="${3.6029*M_PI/180.0}"
               phi0="${29.7089*M_PI/180.0}"
               t0="${-0.1914/1000.0}"
               L0="${37.5528/1000.0}"
               h="${0.0/1000.0}"
               a="${68.3698/1000.0}"
               b="${43.3849/1000.0}"
               r="${91.5/1000.0}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pr2_gripper_v0>


  <!-- Optionally include left arm -->



   <xacro:pr2_shoulder_v0 side="l" reflect="1" parent="torso_lift_link" prefix="pr2/" >
    <origin xyz="0.0 0.188 0.0" rpy="0 0 0" />
  </xacro:pr2_shoulder_v0>
  <xacro:pr2_upper_arm_v0 side="l" reflect="1" parent="l_upper_arm_roll_link" prefix="pr2/" />
  <xacro:pr2_forearm_v0 side="l" reflect="1" parent="l_forearm_roll_link" prefix="pr2/" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pr2_forearm_v0>

  <xacro:pr2_gripper_v0 reflect="1.0" side="l" parent="l_wrist_roll_link" prefix="pr2/"
               screw_reduction="${4.0/1000.0}"
               gear_ratio="${(729.0/25.0)*(22.0/16.0)}"
               theta0="${3.6029*M_PI/180.0}"
               phi0="${29.7089*M_PI/180.0}"
               t0="${-0.1914/1000.0}"
               L0="${37.5528/1000.0}"
               h="${0.0/1000.0}"
               a="${68.3698/1000.0}"
               b="${43.3849/1000.0}"
               r="${91.5/1000.0}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pr2_gripper_v0>











  <!-- ROMAN -->

    <xacro:arg name="namespace" default="false" />

    <xacro:include filename="$(find gundam_description)/urdf/talon.urdf.xacro"/>
    <xacro:include filename="$(find gundam_description)/urdf/roman_body.urdf.xacro"/>
    <!-- Note: using joint limited (-1.57, 1.57) robosimian arm model -->
    <xacro:include filename="$(find gundam_description)/urdf/robosimian_arm_joint_limited.urdf.xacro"/>

    <xacro:include filename="$(find gundam_description)/gazebo/gazebo.urdf.xacro"/>

    <xacro:talon name="base" namespace="$(arg namespace)" prefix="roman/"/>
    
    <xacro:roman_body name="roman_body" parent="talon" namespace="$(arg namespace)" prefix="roman/" >
        <origin xyz="0.355000 0.000000 0.090000" rpy="3.141592 1.570800 1.570800"/>
    </xacro:roman_body>
    <!--
    <xacro:robosimian_arm prefix="roman/limb_left_" parent="roman/chest" namespace="$(arg namespace)">
        <origin xyz="0.0705 0.025 -0.1" rpy="0 1.5708 -1.5708"/>
    </xacro:robosimian_arm>
    -->
    <xacro:robosimian_arm prefix="roman/limb_right_" parent="roman/chest" namespace="$(arg namespace)">
        <origin xyz="0.0705 0.025 0.1" rpy="0 -1.57080 -1.5708"/>
    </xacro:robosimian_arm>
  




</robot>
