<launch>

<node pkg="tf" type="static_transform_publisher" name="pr2_base_pub" args="0 1.5 0 0 0 0 world pr2/base_footprint 10"/>

<node pkg="tf" type="static_transform_publisher" name="roman_base_pub" args="0 0 0 1.57 0 0 world abs_nwu 10"/>

<group ns="pr2">
  <arg name="robot_name" default="pr2"/>
  <arg name="init_pose"/>
  <arg name="db" default="false" />
  <arg name="debug" default="false" />

  <include file="$(find rcta)/launch/multirobot/pr2_planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_footprint 100" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" >
    <param name="robot_description" type="string" value="robot_description"/>
    <param name="tf_prefix" type="string" value="pr2"/>
  </node>

  <include file="$(find rcta)/launch/multirobot/pr2_move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--<include file="$(find pr2_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  -->

  <!--<include file="$(find pr2_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"/>
  -->
</group>
</launch>
